<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Applicant HomePage</title>
  <link rel="stylesheet" href="{% static "css/AppliDashStyles.css"%}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

  <nav>
    <div class="logo">
      <img src="{% static "image/HireHawkLogo.png" %}" alt="Logo">
    </div>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li class="profile"><img src="{% static "image/profile-image.jpg" %}" alt="Profile Avatar"></li>
    </ul>
  </nav>

  <div class="content">
    <div class="text-content">
      <h2></h2>
      <p></p>
    </div>
    <input type="file" id="fileInput" accept=".docx, .pdf" style="display: none;">
  </div>

  <div class="content">
    <div class="text-content">
      <h2>QA Engineer</h2>
      <p>We need QA Engineer Asap</p>
    </div>
    <button id="fileInputButton">Upload Resume</button>
    <input type="file" id="fileInput" accept=".docx, .pdf" style="display: none;">
    <div class="selected-file" id="selectedFile1"></div>
  </div>

  <div class="content">
    <div class="text-content">
      <h2>QA Engineer</h2>
      <p>We need QA Engineer Asap</p>
    </div>
    <button id="fileInputButton">Upload Resume</button>
    <input type="file" id="fileInput" accept=".docx, .pdf" style="display: none;">
    <div class="selected-file"></div>
  </div>

  <div class="content">
    <div class="text-content">
      <h2>Senior Python Developer</h2>
      <p>We need Python Developer Asap</p>
    </div>
    <div class="selected-file"></div>
    <button id="fileInputButton">Upload Resume</button>
    <input type="file" id="fileInput" accept=".docx, .pdf" style="display: none;">
  </div>

  <div class="content">
    <div class="text-content">
      <h2>Senior Python Developer</h2>
      <p>We need Python Developer Asap</p>
    </div>
    <div class="selected-file"></div>
    <button id="fileInputButton">Upload Resume</button>
    <input type="file" id="fileInput" accept=".docx, .pdf" style="display: none;">
  </div>

  <div class="content">
    <div class="text-content">
      <h2>Senior Python Developer</h2>
      <p>We need Python Developer Asap</p>
    </div>
    <div class="selected-file" ></div>
    <button id="fileInputButton">Upload Resume</button>
    <input type="file" id="fileInput" accept=".docx, .pdf" style="display: none;">
  </div>

  <script src="{% static "js/AppliScript.js"%}"></script>

</body>
</html>
