body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  /* background: linear-gradient(to right, #B467EF, #66D1FF ); */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, #131414, #3b3342);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  max-height: 40px; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

nav .profile{
  cursor: pointer;
}

nav .profile img {
  border-radius: 50%;
  max-height: 40px;
  cursor: pointer;
}

.content {
  margin-top: 16px; 
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  cursor: pointer;
  /* background-color: #66D1FF; */
  border-radius: 12px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  border: none;
  box-shadow: 0 0 0 0.2px black;
}

.text-content {
  margin-bottom: 10px; 
}

.text-content h2,
.text-content p {
  margin: 0;
}


button {
  font-family: 'Poppins', sans-serif;
  background-color: #B467EF;
  color: black;
  padding: 11px 30px;
  /* border: none; */
  border-radius: 23px;
  cursor: pointer;
  margin-left: auto; 
  font-weight: 600;
  border: 1px solid;
}

#fileInputButton {
  border: 1px solid black;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#fileInputButton:hover {
  background-color: #B467EF;
  color: white; /* Optional: Change text color on hover */
}