body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #B467EF, #66D1FF);
    /* Additional styles for centering the form */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  
  form {
    width: 300px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #66D1FF;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: calc(100% - 16px); 
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Set border to 1px */
    border-radius: 12px; /* Add border-radius to the textboxes */
    outline: none; /* Remove default outline */
  }
  
  button {
    background-color: #B467EF;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
  }

.error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  

  
  p {
    text-align: center;
    margin-top: 20px;
    clear: both; /* Add this to ensure proper clearing of floats */
  }
  
  a {
    color: blue;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px; /* Add margin-top for spacing */
  }