<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recruiter's Dashboard</title>
  <link rel="stylesheet" href="RecDashboard.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> <!-- Link to Poppins font -->
</head>
<body>

  <div class="container">
    <h2>Welcome to the Dashboard!</h2>
    <p>Recruiter's Dashboard</p>
  </div>

</body>
</html>
